@font-face {
  font-family: Book;
   src: url('./assets/fonts/ABCWhyte-Book-Trial.woff2') format('woff2'),
  url('./assets/fonts/ABCWhyte-Book-Trial.otf') format('opentype');
}

@font-face {
  font-family: Normal;
   src: url('./assets/fonts/ABCWhyte-Regular-Trial.woff2') format('woff2'),
  url('./assets/fonts/ABCWhyte-Regular-Trial.otf') format('opentype');
}

@font-face {
  font-family: Medium;
   src: url('./assets/fonts/ABCWhyte-Medium-Trial.woff2') format('woff2'),
  url('./assets/fonts/ABCWhyte-Medium-Trial.otf') format('opentype');
}

@font-face {
  font-family: Bold;
   src: url('./assets/fonts/ABCWhyte-Bold-Trial.woff2') format('woff2'),
  url('./assets/fonts/ABCWhyte-Bold-Trial.otf') format('opentype');
}

@font-face {
  font-family: Light;
   src: url('./assets/fonts/ABCWhyte-Light-Trial.woff2') format('woff2'),
  url('./assets/fonts/ABCWhyte-Light-Trial.otf') format('opentype');
}

html {
  box-sizing: border-box !important;
  background: #e9f3ea;
}

body {
  position: relative;
  height: 100%;
  /* background-color: #e0e9f7; */
  /* background-image: linear-gradient(#0c1831, #438e91); */
  min-height: 80em;
  font-family: "Normal", sans-serif;
  color: #485A3D !important;
  letter-spacing: 1px !important;
  /* margin: -32px 0; */
}

p {
  font-family: "Normal", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  font-size: 1em;
}

a {
  color: #485A3D;
  text-decoration: none;
  transition: 0.3s opacity;
}

a:hover {
  opacity: 0.8;
  cursor: pointer;
}
