@font-face {
  font-family: Whyte Book;
  src: url("./assets/fonts/Whyte-Book.ttf") format("truetype");
}

@font-face {
  font-family: Whyte;
  src: url("./assets/fonts/Whyte-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Whyte Medium;
  src: url("./assets/fonts/Whyte-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Whyte Bold;
  src: url("./assets/fonts/Whyte-Black.otf") format("opentype");
}

@font-face {
  font-family: Whyte Light;
  src: url("./assets/fonts/Whyte-Light.ttf") format("truetype");
}

body {
  position: relative;
  height: 100%;
  background-color: #242629;
  background-image: linear-gradient(#111e36, #7d92b3);
  font-family: "Whyte Light", sans-serif;
  color: #d8dbdb !important;
  letter-spacing: 2px !important;
  height: 3000px;
}

a {
  color: #d8dbdb;
  text-decoration: none;
  transition: 0.3s opacity;
}

a:hover {
  opacity: 0.8;
  cursor: pointer;
}
